DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password

JWT_EXPIRATION=your_jwt_expiration_here
JWT_SECRET=your_jwt_secret_here

STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_SUCCESS_URL=https://yourdomain.com/payment-success
STRIPE_CANCEL_URL=https://yourdomain.com/payment-cancel
STRIPE_SESSION_PLACEHOLDER=session_placeholder_value
STRIPE_SESSION_REQUEST=session_request_value
STRIPE_DEFAULT_QUANTITY=1
STRIPE_DEFAULT_CURRENCY=usd
STRIPE_CENTS_AMOUNT=100

BOT_NAME=your_bot_name
BOT_KEY=your_bot_key
BOT_EMAIL_REGEX=your_bot_email_regex

POSTGRES_LOCAL_PORT=your_postgres_local_port
POSTGRES_DOCKER_PORT=your_postgres_docker_port
SPRING_LOCAL_PORT=your_spring_local_port
SPRING_DOCKER_PORT=your_spring_docker_port
DEBUG_PORT=your_debug_port
